/*Estilos generales root y universal*/

:root {
    --negro: #000;
    --blanco: #FFF;
    --color--principal: #1f7164;
    --color--secundario: #6acbbb;
    --color--fondo: #b9d1cd;
    --color--destacado: #08322b;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

/*Estilos para etiquetas semánticas: contenedores principales*/

body {
    background-color: var(--color--fondo);
    color: var(--negro);
}
header{
    background-color: var(--color--principal);
}
.contenedor-header, main{
    padding: 1em;
}
.logo{
    width: 72px;
}
h1 {
    margin-top: 10px; 
}
h2{
    border-bottom: 1px solid var(--negro);
    margin-bottom: 15px;
}
h4{
    font-style: italic;
}
section{
    padding-bottom: 20px;
}

/*Estilos para la barra de navegación*/

.navegacion{ /*Contenedor principal de la barra de navegación*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav{ /*Barra de navegación*/
    margin-left: 20px;
    display: flex;
}

nav ul { /*Barra de navegación: lista con enlaces para botones*/
    display: flex; 
    align-items: center;
    list-style-type: none;    
    gap: 20px;
}

nav ul li a { /*Barra de navegación: estilos de los enlaces para botones*/
    text-decoration: none;
    color: var(--blanco);
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.5s;
    
    /*  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    border-bottom: 3px outset var(--blanco);
    border-right: 3px outset var(--blanco);
    background-color: var(--color--destacado);*/
}

nav ul li a:hover { /*Barra de navegación: estilos de los enlaces para botones en hover*/
    color: var(--negro);
    text-shadow: 2px 2px 12px var(--blanco);
    /*background-color: var(--color--fondo);
    border-bottom: 3px outset var(--negro);
    border-right: 3px outset var(--negro);*/
}

nav ul li a.active {
    font-weight: bold;
    text-shadow: 2px 2px 12px var(--negro);
}

.abrir-menu, .cerrar-menu{
    display: none;
}


/* Footer */
footer{
    width: 100%;
    background-color: var(--color--principal);
    padding-bottom: 20px;
}

.contenedor-footer{ /*Contenedor general del footer*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1300px;
    margin: auto;
}

.logo-texto{ /*Contenedior del logo y los subtítulos del footer*/
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.subtitulos-footer{ /*Contenedor de los subtítulos del footer*/
    display: flex;
    flex-direction: column;
    text-align: center;
}
.caja-footer{ /*Cada una de las columnas del footer*/
    display: flex;
    flex-direction: column;
    padding: 10px;  
}

.caja-footer .descripcion{ /*Descripción que acompaña a los subtítulos*/
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: var(--negro);
    opacity: 0.7;
    text-align: center;

}
.contenedor-redes{ /*Contnedor para íconos de redes sociales*/
    display: flex;
    justify-content: center;
}
.redes{ /*Íconos de redes sociales*/
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.redes a { /*Cada elemento individual del contenedor de redes sociales*/
    flex: 1 1 45%; /* Cada enlace ocupa aproximadamente el 45% del ancho */
    display: flex;
    justify-content: center;
}
.redes a img{
    width: 2rem;
}
.contenedor-iframe{
    display: flex;
    justify-content: center;
}
.caja-footer h2{ /*Subtítulo de cada columna*/
    margin-bottom: 10px;
    color: var(--negro);
    font-weight: 700;
    border: none; /*quitamos el borde general*/
    text-align: center;
}

.caja-footer a{ /**Enlaces de los subtítulos*/
    margin-bottom: 5px;
    color: var(--negro);
    opacity: 0.7;
    font-weight: 600;
    text-decoration: none;
}

.caja-footer a:hover{ 
    opacity: 0.8;
}

.caja-copyright{ /*Contenedor del copyright*/
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.caja-copyright p{ /*Párrafos del copyright*/
    margin-top: 20px;
    color: var(--negro);
    opacity: 0.7;
}

.caja-copyright hr{ /*línea horizontal*/
    border: none;
    height: 1px;
    background-color: var(--negro);
    opacity: 0.4;
}


/*INDEX.HTML: Estilos específicos*/

.lista-sobre{
    margin-left: 20px;
    text-align: justify;
}

/*Cards del index.html*/

.tipos-psico-contenedor{
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.tipos-psico-contenedor .card{
    width: 330px;
    height: auto;
    color: var(--blanco);
    border-radius: 8px;
    background-color: var(--color--principal);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    padding-bottom: 10px;
    text-align: center;
    transition: all 0.25s;
}

.tipos-psico-contenedor .card:hover{
    transform: translateY(-15px) scale(1.05);             ;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.tipos-psico-contenedor .card img{
    width: 100%;
    height: auto;
}

.tipos-psico-contenedor .card h4{
    font-weight: 600;
    padding: 10px 0px;
}

.tipos-psico-contenedor .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.tipos-psico-contenedor .card a {
    font-weight: 500;
    text-decoration: none;
    color: var(--blanco);
    opacity: 0.8;
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    border-bottom: 3px outset var(--blanco);
    border-right: 3px outset var(--blanco);
    background-color: var(--color--destacado);
}

/*Contenedor de videos index*/
.recursos-destacados-contenedor{
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.recursos-destacados-contenedor .contenedor-video{
    width: 75%;
    border: 2px outset var(--color--principal);
    padding: 10px;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    background-color: var(--color--principal);
    border-radius: 8px;
    margin: auto;
}

/*PSICOLOGIA.HTML: Estilos específicos*/

.contenedor-columna-derecha{
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.contenedor-columna-derecha h2, .contenedor-columna-izquierda h2{
    border-bottom: 1px solid var(--negro);
    margin-bottom: 1rem;

}
.contenedor-columna-derecha p, .contenedor-columna-izquierda p {
    padding-bottom: 5px;
    text-align: justify;
}
.contenedor-columna-izquierda{
    display: grid;
    grid-template-columns: 4fr 1fr;
    justify-items: center;
    align-items: center;
}
.contenedor-columna-izquierda img{
    width: 90%;
    display: block;
}

/*Ramas de la psicología*/
.contenedor-ramas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    justify-content: space-around;
}
.flip-card-inner{
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner{
    transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back{
    backface-visibility: hidden;
}
.flip-card-front{
    width: 100%;
    height: 250px;
    padding: 0.5rem;
    background-color: var(--color--principal);
    color: var(--blanco);
    border-radius: 0px 25px 0px 25px;
    display: grid;
    justify-content: center;
    align-content: center;
}
.flip-card-front h3{
    font-size: 1.5rem;
}
.flip-card-front .imagen-ramas{
    height: 6rem;
    background-image: url('../img/psicologia-ramas-blanco.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.flip-card-back{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: var(--color--secundario);
    color: var(--negro);
    transform: rotateY(180deg);
    border-radius: 25px 0px 25px 0px;
    padding: 25px;
}
.flip-card-back p{
    text-align: center;
    font-size: 1vw;
}

/*EMOCIONES.HTML: Estilos específicos*/

/* Estilos para la sección de emociones */
.contenedor-emociones {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

/* Estilo general para cada emoción */
.emocion {
    padding: 1em;
    color: var(--blanco);
    background-color: var(--color--principal);
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.emocion h2{
    border-color: var(--blanco);
}
/* Efecto hover para las emociones */
.emocion:hover {
    transform: translateY(-10px);
}

.contenedor-imagen-emocion {
    padding: 10px;
    display: grid;
    justify-items: center;
}
.contenedor-imagen-emocion img {
    width: 75%;
    height: auto;
    border-radius: 10px;
}
.descripcion-emocion {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto auto auto;
    gap: 20px;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.descripcion-emocion p {
    line-height: 1.5;
    text-align: left;

} 

/*COMENTARIOS.HTML: Estilos específicos*/

.comentarios-section { /*Contenedor gneral de comentarios*/
    max-width: 90%;
    margin: 40px auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.comentario { /*Card correspondiente al comentario individual*/
    background-color: var(--color--principal);
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.comentario-header { /*Encabezado del comentario (foto + nombre y calificación*/
    display: flex;
    align-items: center;
    gap: 15px;
}

.avatar-usuario { /*Foto del usuario*/
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--blanco);
}

.comentario-info { 
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.comentario-nombre {
    font-weight: 600;
    color: var(--blanco);
}

.estrellas { /*Contenedor de calificación*/
    display: flex;
    gap: 5px;
}

.estrella { /*Calificación*/
    width: 18px;
    height: 18px;
    background-color: var(--color--fondo);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.estrella.llena {
    background-color: #ff9800; /* Color amarillo para las estrellas llenas */
}

.estrella.vacia {
    background-color: #ddd; /* Color gris para las estrellas vacías */
}

.comentario-texto {
    font-size: 16px;
    color: var(--blanco);
    font-weight: 300;
    line-height: 1.5;
    margin-top: 10px;
}

/* Añadir un hover para los comentarios */
.comentario:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
}

/*CONTACTO.HTML: Estilos específicos*/

.contenedor-columna-izquierda-contacto, .contenedor-secundario-form{
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 20px;
}

.contact-form-section {
    padding: 2rem;
    background-color: var(--color--principal);
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.contact-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.datos{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.botones-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: end;
}
.contenedor-dato{
    display: flex;
    flex-direction: row;
}
.contact-form label, .contenedor-secundario-form label {
    display: flex;
    align-items: center;
    font-weight: 600;
    color: var(--negro);
    margin: 8px;
}

.contact-form input,
.contact-form select,
.contact-form textarea,
.contenedor-secundario-form textarea {
    flex-grow: 1;
    padding: 0px 12px;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid var(--blanco);
    background-color: var(--blanco);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s;
}

.contact-form input:focus,
.contact-form select:focus,
.contact-form textarea:focus {
    border-color: var(--negro);
    outline: none;
}

.contenedor-secundario-form button {
    padding: 12px;
    font-size: 18px;
    background-color: var(--color--destacado);
    color: var(--blanco);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contenedor-secundario-form button:hover {
    background-color: var(--color--fondo);
    color: var(--negro);
}

.contact-form label input[type="radio"] {
    margin-right: 8px;
}

.contact-form input[type="number"] {
    width: 50%;
}

.contact-form input[type="checkbox"] { /*reseteamos propiedades para el checkbox*/
    flex-grow: 0;
    border-radius: 5px;
    border: none;
    box-shadow: none;
}

.contenedor-mas-datos {
    display: grid;
    gap: 15px; /* Espacio entre cada dato */
    text-align: center;
}

.mas-datos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.mas-datos img {
    width: 24px;
    height: 24px;
}

.mas-datos span {
    font-size: 1rem;
}

h3 {
    text-align: center;
    margin-bottom: 20px;
}


/*MEDIA QUERIES*/

@media screen and (max-width: 768px){

    /*Barra de navegación responsive*/

    .abrir-menu, .cerrar-menu{
        display: block;
        border: 0;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu{
        color: #1c1c1c;
    }

    .cerrar-menu{
        color: #ececec;
    }

    .navegacion nav {
        opacity: 0;
        visibility: hidden;
    
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0,0,0, .5);
    }

    nav.visible{
        opacity: 1;
        visibility: visible;
    }
    
    nav ul{
        flex-direction: column;
        align-items: end;

    }

    nav ul li a {
        color: #ececec;
    }

    /*Footer responsive*/
    .contenedor-footer {
        flex-wrap: wrap;
        justify-content: center;
    }

    .caja-footer {
        flex: 1 1 calc(50% - 20px); /* Cada columna ocupa el 50% en tablet */
        max-width: 45%; /* Ajustamos para que se vea mejor */
    }


    /*INDEX: Recursos destacados responsive*/
    .recursos-destacados-contenedor{
        grid-template-columns: 1fr;
        gap: 10px;
    }

    /*PSICOLOGÍA: Contenedores*/

    .contenedor-columna-derecha{
        grid-template-columns: 1fr;
        justify-items: center;
    }


    .contenedor-columna-izquierda{
        grid-template-columns: 1fr;
    }
    .contenedor-columna-izquierda img{
        display: none;
    }
    .contenedor-ramas{
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
    }
}


/* Media Query para dispositivos móviles (celulares) */
@media screen and (max-width: 576px) {
    .contenedor-footer {
        flex-direction: column;
        align-items: center;
    }

    .caja-footer {
        flex: 1 1 100%; /* Cada columna ocupa el 100% en móviles */
        max-width: 100%; /* Ajuste para que ocupe todo el ancho */
    }

    .contenedor-ramas{
        grid-template-columns: 1fr;
        gap: 1rem;
    }

}